#find-blood {
  	position: fixed;
	top: 8%;
	left: 37.5%;
	margin-top: 5px;
	margin-left: -50px;
}
.blood-type {
   -webkit-appearance: menulist-button;
   height: 31.75px;
   width: 80px;
}
#find-blood input[type=submit] {
	background-color: #546CB6;
	height: 31.75px;
	width: 80px;
}