#ticket input[type=text], textarea {
    width: 150%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 55px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 16px;
    resize: vertical;
}

#ticket input[type=submit] {
  	background-color: #4CAF50;
  	color: white;
  	padding: 20px 20px;
  	border: none;
  	border-radius: 80px;
  	cursor: pointer;
}

#ticket input[type=submit]:hover {
    background-color: #45a049;
}

#ticket {
  	position: fixed;
	  top: 15%;
	  left: 40%;
	  margin-left: -300px;
}